@model IEnumerable<DevTracker.Models.Language>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.name }) |
            @Html.ActionLink("Details", "Details", new { id=item.name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.name })
        -->
        @item.name
        </td>
    </tr>
}

</table>
