@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dev Tracker</h1>
    <p class="lead">This is a simple web application developed in ASP.NET MVC</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Features to implement</h2>
        <ul class="list-group">
            <li class="list-group-item"> <span class="label label-success"><i class="fa fa-check"></i></span> Complete basic Login and Registration</li>
            <li class="list-group-item"><span class="label label-success"><i class="fa fa-check" aria-hidden="true"></i></span> Get a list of current programming languages that exist in the app</li>
            <li class="list-group-item"> <span class="label label-success"><i class="fa fa-minus" aria-hidden="true"></i></span> Get a list of user's programming languages</li>
            <li class="list-group-item"> <span class="label label-primary"><i class="fa fa-minus" aria-hidden="true"></i></span> Make an Admin Control Panel</li>
            <li class="list-group-item"> <span class="label label-primary"><i class="fa fa-minus" aria-hidden="true"></i></span> Associate a language to each user</li>
            <li class="list-group-item"> <span class="label label-primary"><i class="fa fa-minus" aria-hidden="true"></i></span> Implement frameworks</li>



        </ul>
    </div>
</div>